/* button {
    background-color: red;
    color: white;
}

.azul {
    background-color: blue;
    color: pink;
}

.kkkk {
    background-color: aqua;
    color: red;
    text-transform: uppercase;
    font-weight: bold;
} */
